* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#d5bdaf;
  background-position: 50% 50%;
  padding: 30px;
  }

.menu {
  color: #8e9aaf;
  background-color: #9c6644;
  font-size: 30px;
  font-weight: bolder;
  font-family:  "Lucida Console", "Courier New", monospace;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 50px;
  }
  
.header {
  background-color: #c2903b;
  font-size: 25px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #c5dedd;
  display: flex;
  justify-content: center;
  height: 50px;
  }

.contenido1{
  background-color: #efcead;
  border: 10px solid #f3e3d3;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 10px 0px 0px 150px;
  padding: 10px;
  text-align: center;
  color: #b58463;
  float: left;    
  width: 450px;
  height: 200px;
  
  }

 #inputNum{
  background-color: #f3e3d3;
  border-color: #f3e3d3;
  width: 20%;
  height: 30%;
  color : brown;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}

 .contenido2 {
  background-color: #efcead;
  border: 10px solid #f3e3d3;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 10px 0px 0px 70px;
  padding: 10px;
  text-align: center;
  color: #b58463;
  float: left;
  width: 450px;
  height: 200px;
 
  }

 #inputCode{
  background-color: #f3e3d3;
  border-color: #f3e3d3;
  width : 400px;
  height: 100px;
  color : brown;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center; 
}

 .contenido3{
  background-color: #efcead;
  border: 10px solid #f3e3d3;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  color: #b58463;
  margin: 230px 10px 10px 280px;
  padding: 10px;
  text-align: center;
  width: 700px;
  height: 200px;
  }

#buttonCode{
  color: gray;
  width: 120px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 10px 0px 50px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#buttonCode:hover {
  background-color: #c2903b;
  color: white;
  }

#buttonDecode{
  color: gray;
  width: 120px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 10px 0px 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  }

#buttonDecode:hover {
  background-color: #c2903b;
  color: white;
  }

#printCode {
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: oblique;
  text-align: center;
  color: brown;
  }

  
