* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Así nos aseguramos que el padding y borde serán
incluidos en el total del ancho y largo de los elementos
css-responsive*/

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.content{
  background-color:#fff1e6;
  background-position: 50% 50%;
  padding: 30px;
  }

 
.title {
  background-color: #d8e2dc;
  font-family:  "Lucida Console", "Courier New", monospace;
  color: #8e9aaf;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  height: 1.5em;
  display: flex;
  justify-content: center;
  }

.header {
  background-color: #ffd7ba;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #b58463;
  font-size: 25px;
  font-weight: bold;
  height: 1.5em;
  display: flex;
  justify-content: center;
  }

.content1{
  background-color: #d8e2dc;
  border: 15px solid #f3e3d3;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  height: 10em;
  padding: 1em ;
  text-align: center;
  color: #b58463;
  }

 #inputNum{
  background-color: #f3e3d3;
  border-color: #f3e3d3;
  width: 20%;
  height: 30%;
  color : brown;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}

 .content2 {
  background-color: #d8e2dc;
  border: 15px solid #f3e3d3;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  height: 10em;
  padding: 1em;
  text-align: center;
  color: #b58463;
  }

 #inputCode{
  background-color: #f3e3d3;
  border-color: #f3e3d3;
  width : 60%;
  height: 40%;
  color : brown;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}

 .content3{
  background-color: #d8e2dc;
  border: 15px solid #f3e3d3;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  color: #b58463;
  height: 10em;
  padding:1em;
  }

#buttonCode{
  color: gray;
  width: 120px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 10px 0px 50px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#buttonCode:hover {
  background-color: #c2903b;
  color: white;
  }

#buttonDecode{
  color: gray;
  width: 120px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 10px 0px 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  }

#buttonDecode:hover {
  background-color: #c2903b;
  color: white;
  }

#printCode {
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: oblique;
  text-align: center;
  color: brown;
  }

.foot{
  background-color: #ffd7ba;
  padding: 20px;
  font-size: 10px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  color: #b58463;
  height: 5em;
 
  

}
